<h3><%= title %></h3>
<% if posts.any? %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <% posts.each do |post| %>
        <tr class='<%= 'info' if callout && changed_since_last_accessed(post, current_user)%>'>
          <td><%= formatted_date(post.created_at) %></td>
          <td>
            <%= link_to(post.title, post_path(post.id)) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <p><%= comment %></p>
<% end %>
