<div class='panel'>
  <div class='panel-body'>
    <%= comment.content %>
  </div>
  <div class='panel-footer'>
    <div class='row'>
      <div class='col-xs-6'>
        <%= comment.author.full_name %>
      </div>
      <div class='col-xs-6 text-right'>
        <%= link_to vote_comment_path(comment, {direction: 'liked'}) do %>
          <%= content_tag(:span, '', class: "glyphicon glyphicon-arrow-up #{((User.first.voted_for?(comment) && User.first.voted_as_when_voted_for(comment)) ? 'text-warning' : 'text-default')}", 'aria-hidden' => "true") %>
        <% end %>
        <strong class='large-text'><%= comment.total_votes %></strong>
        <%= link_to vote_comment_path(comment, {direction: 'disliked'}) do %>
          <%= content_tag(:span, '', class: "glyphicon glyphicon-arrow-down #{((User.first.voted_for?(comment) && !User.first.voted_as_when_voted_for(comment)) ? 'text-warning' : 'text-default')}", 'aria-hidden' => "true") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
