<%= simple_form_for post, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <%= f.error_notification %>
  <%= hidden_field_tag('post[author_id]', current_user.id) %>
  <div class="form-inputs">
    <%= f.input :title %>
    <div class='form-group'>
      <%= f.label 'Sport' %>
      <%= f.input :sport_id, label: false, collection: current_user.sports.map {|s| [s.name, s.id]} %>
    </div>
    <%= f.input :content %>
    <%= f.input :is_public, label: 'Is this post public?', class: 'checkbox' %>
    <div class='form-group'>
      <%= f.label 'Video URLs' %>
      <%= f.simple_fields_for 'videos[0]' do |v| %>
        <%= v.input :url, label: false, multiple: true %>
      <% end %>
      <%= f.simple_fields_for 'videos[1]' do |v| %>
        <%= v.input :url, label: false, multiple: true %>
      <% end %>
    </div>
  </div>

  <div class='form-actions'>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  posts_path, :class => 'btn btn-default' %>
  </div>
<% end %>
